/* MatchResult.css */

.match-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.match-deck-wrapper {
  position: relative;
}
